@using Microsoft.AspNetCore.Http;
@model Ncs.Prototype.Web.Composition.ViewComponents.ApplicationNavigationMenuViewModel

@{
    var key = "Visits";
    var visits = Context.Session.GetInt32(key) ?? 0;
    visits += 1;
    Context.Session.SetInt32(key, visits);
    ViewData[key] = visits;
}

<p>shell.sessions.visits=@visits</p>
@foreach (var application in Model.Applications.Where(w => !string.IsNullOrEmpty(w.MainMenuText)))
{
    <li class="govuk-header__navigation-item">
        @if (application.RequiresAuthorization)
        {
            <a class="govuk-header__link" asp-area="" asp-controller="Authorized" asp-action="Index" asp-route-applicationName="@application.Name">@application.MainMenuText</a>
        }
        else
        {
            <a class="govuk-header__link" asp-area="" asp-controller="Application" asp-action="Index" asp-route-applicationName="@application.Name">@application.MainMenuText</a>
        }
    </li>
}
